:root {
  --admin-widget-bg-color: #faa;
  --admin-widget-text-color: #333;
  --border-default: #ccc;
  --border-secondary: #e7e7e7;
  --branding-color-instagram: #000;
  --branding-color-telegram: #229ed9;
  --branding-color-twitter: #000;
  --image-card-border: 1px solid #e7e7e7;
  --info-box-bg-color: #c3e7f5;
  --input-placeholder-icon-color: var(--bs-border-color);
  --modal-overlay-bg-color: rgba(0, 0, 0, 0.75);
  --modal-overlay-button-color: #fff;
  --nav-dropdown-toggle: #a7acb1;
  --text-secondary-color: #555;
  --view-selector-color: #aaa;
  --view-selector-color-active: #333;
}

@media (prefers-color-scheme: dark) {
  :root {
    --admin-widget-bg-color: #faa;
    --admin-widget-text-color: #333;
    --border-default: #dee2e6;
    --border-secondary: #595a5c;
    --bs-body-bg: #000;
    --branding-color-instagram: #fff;
    --branding-color-telegram: #229ed9;
    --branding-color-twitter: #fff;
    --image-card-border: none;
    --info-box-bg-color: #c3e7f5;
    --input-placeholder-icon-color: var(--bs-border-color);
    --modal-overlay-bg-color: rgba(0, 0, 0, 0.75);
    --modal-overlay-button-color: var(--bs-body-color);
    --nav-dropdown-toggle: #434547;
    --text-secondary-color: #888;
    --view-selector-color: #333;
    --view-selector-color-active: #888;
  }
}
