.main-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: auto;
  max-width: 720px;
  position: relative;
}

.main-image {
  margin: 0;
}

.insertable-images {
  align-items: center;
  display: flex;
  justify-content: center;
  max-width: 720px;
}

.insertable-image {
  height: 120px !important;
  width: auto !important;
  cursor: pointer;
}

.inserted-image {
  position: absolute;
  cursor: pointer;
  /* top: 10px;
  right: 10px; */
  /* width: 100%;
  height: auto; */
}

.inserted-image-buttons {
  position: absolute;
  top: -30px;
  background-color: white;
  width: 136px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 2px;
  z-index: 1;
  border: 1px solid #bbb;
}

.inserted-image-button-wrapper {
  height: 16px;
  width: 16px;
  margin: 0 5px;
}

.inserted-image-button {
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
}

.rotate-bar {
  position: absolute;
  bottom: -26px;
  height: 24px;
  width: 140px;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
}

.rotate-indicator {
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 12px;
  height: 12px;
  border-radius: 12px;
  pointer-events: none;
  border: 2px solid red;
}
